/target
Cargo.lock
.gdb_history
/afl/*/target
/afl/*/out*
mutants.out*
coverage.xml
/bindings/vodozemac_uniffi/target
/doc
/bindings/generated/swift/ios-device
/bindings/generated/swift/ios-simulator
/bindings/generated/swift/macos
/bindings/tests/modern_test_vectors/target
/bindings/tests/rust_reference/target
/bindings/tests/swift_tests/.build
