/target
Cargo.lock
.gdb_history
/afl/*/target
/afl/*/out*
mutants.out*
coverage.xml
/bindings/vodozemac_uniffi/target
/doc
/bindings/generated/swift/ios-device
/bindings/generated/swift/ios-simulator
/bindings/generated/swift/macos
